/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | WS PREV|  |WS NEXT|  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  |TAB/LWR|ENT/RSE|  | SPACE | BSPC | GUI   | ALT   |
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                      &kp N6  &kp N7  &kp N8    &kp N9  &kp N0   &kp GRAVE
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                       &kp Y   &kp U   &kp I     &kp O   &kp P    &kp MINUS
&kp LCTRL &kp A  &kp S  &kp D    &kp F    &kp G                       &kp H   &kp J   &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B  &kp LC(LA(LEFT)) &kp LC(LA(RIGHT)) &kp N   &kp M   &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                        &kp LALT &kp LGUI &lt 1 TAB &lt 2 RET  &kp SPACE &kp BSPC &kp RGUI &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            display-name = "Lower Layer";

// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |  +  |  -   |  *   |  %   |                   |  |   |   {   |   }   |  '   |       |       |
// |       |  !  |  =  |  <   |  >   |  ?   |                   |  &   |   (   |   )   |  "   |   :   |       |
// |       |  ~  |  $  |  @   |  #   |  ^   |        |  |       |  \   |   [   |   ]   |  `   |   _   |       |
//                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans     &trans    &trans     &trans     &trans    &trans                       &trans    &trans    &trans    &trans    &trans    &trans
&trans     &trans    &kp PLUS   &kp MINUS  &kp ASTRK &kp PRCNT                    &kp PIPE  &kp LBRC  &kp RBRC  &kp SQT   &trans    &trans
&trans     &kp EXCL  &kp EQUAL  &kp LT     &kp GT    &kp QMARK                    &kp AMPS  &kp LPAR  &kp RPAR  &kp DQT   &kp COLON &trans
&trans     &kp TILDE &kp DOLLAR &kp AT     &kp HASH  &kp CARET &trans   &trans    &kp BSLH  &kp LBKT  &kp RBKT  &kp GRAVE &kp UNDER &trans
                                &trans     &trans    &trans    &trans   &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            display-name = "Raise Layer";
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
// |       |     |     |      |      |      |                   |      |   <-  |   v   |  ^   |  ->   |       |
// |       |     |     |      |      |      |        |  |       |      |       |       |      |       |       |
//                     |      |      |      |        |  |       |      |       |       |
            bindings = <
&trans    &trans &trans &trans  &trans  &trans                       &trans      &trans    &trans    &trans   &trans    &trans
&trans    &kp N1 &kp N2 &kp N3  &kp N4  &kp N5                       &kp N6      &kp N7    &kp N8    &kp N9   &kp N0    &trans
&trans    &trans &trans &trans  &trans  &trans                       &trans      &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &trans
&trans    &trans &trans &trans  &trans  &trans    &trans   &trans    &trans      &trans    &trans    &trans   &trans    &trans
                        &trans  &trans  &trans    &trans   &trans    &trans      &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
